@font-face {
    font-family: 'SourceSanPro';
    src: url('assets/fonts/source-sans-pro/SourceSansPro-Black.otf');
    font-weight: bolder;
}

@font-face {
    font-family: 'SourceSanPro';
    src: url('assets/fonts/source-sans-pro/SourceSansPro-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'SourceSanPro';
    src: url('assets/fonts/source-sans-pro/SourceSansPro-ExtraLight.otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'SourceSanPro';
    src: url('assets/fonts/source-sans-pro/SourceSansPro-It.otf');
    font-weight: italic;
}

@font-face {
    font-family: 'SourceSanPro';
    src: url('assets/fonts/source-sans-pro/SourceSansPro-Light.otf');
    font-weight: light;
}

@font-face {
    font-family: 'SourceSanPro';
    src: url('assets/fonts/source-sans-pro/SourceSansPro-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'SourceSanPro';
    src: url('assets/fonts/source-sans-pro/SourceSansPro-Semibold.otf');
    font-weight: 'semibold';
}

.cover {
    background-image: url("assets/images/images/pic_1.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 35%;
}

body {
    color: white;
    font-family: 'SourceSanPro';

}

#smile {
    width: 2rem;

}

#logo {
    width: 8rem;
}

.midpage {
    padding: 15rem 0;
    padding-bottom: 10rem;
}

.midpage h1 {
    font-size: 5rem;
    font-weight: 'semibold';
}

.smile-words span {
    margin: 0 1rem;
}

button {
    color: white;
    background-color: #C271FF;
    border: none;

    font-size: .9em;
}

.prof {
    margin: 0 2rem;
    width: 10rem;
}

.prof .name {
    font-weight: bold;
}

.prof img {
    width: 10rem;
    padding-bottom: 10px;
}

.text-center h3 span {
    color: #C271FF;
}

nav span {
}


